<footer class="bg-custom-footer py-10 text-gray-800 leading-relaxed">
    <div class="mx-auto px-4">
        <div class="flex  justify-center ">
        <div class="col-span-2 md:col-span-1 ml-11">
            <div class="flex items-center mb-1 w-96">
              <img src="assets/images/foot_swiggy.svg" alt="Swiggy" class="w-36">
              
            </div>
            <p>© 2024 Swiggy Limited</p>
          </div>
      <div class="grid grid-cols-2 md:grid-cols-6 gap-3 mb-8">
        
        
        
        <div>
          <h3 class="font-bold mb-4">Company</h3>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">About Us</a></li>
            <li><a href="#" class="hover:underline">Swiggy Corporate</a></li>
            <li><a href="#" class="hover:underline">Careers</a></li>
            <li><a href="#" class="hover:underline">Team</a></li>
            <li><a href="#" class="hover:underline">Swiggy One</a></li>
            <li><a href="#" class="hover:underline">Swiggy Instamart</a></li>
            <li><a href="#" class="hover:underline">Swiggy Dineout</a></li>
            <li><a href="#" class="hover:underline">Swiggy Genie</a></li>
            <li><a href="#" class="hover:underline">Minis</a></li>
          </ul>
        </div>
        
         <div class="flex-col ">
            <div class="mb-12">
            <h3 class="font-bold mb-4">Contact us</h3>
            <ul class="space-y-1">
                <li><a href="#" class="hover:underline">Help & Support</a></li>
                <li><a href="#" class="hover:underline">Partner With Us</a></li>
                <li><a href="#" class="hover:underline">Ride With Us</a></li>
            </ul>
            </div>
            <div>
                <h3 class="font-bold mb-4">Legal</h3>
                <ul class="space-y-1">
                <li><a href="#" class="hover:underline">Terms & Conditions</a></li>
                <li><a href="#" class="hover:underline">Cookie Policy</a></li>
                <li><a href="#" class="hover:underline">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        
        <div>
          <h3 class="font-bold mb-4">Available in:</h3>
          <ul class="space-y-1">
            <li><a href="#" class="hover:underline">Bangalore</a></li>
            <li><a href="#" class="hover:underline">Gurgaon</a></li>
            <li><a href="#" class="hover:underline">Hyderabad</a></li>
            <li><a href="#" class="hover:underline">Delhi</a></li>
            <li><a href="#" class="hover:underline">Mumbai</a></li>
            <li><a href="#" class="hover:underline">Pune</a></li>
          </ul>
        </div>
        
        
        <div class="flex-col ">
            <div class="mb-12">
            <h3 class="font-bold mb-4">Life at Swiggy</h3>
            <ul class="space-y-1">
                
                
                <li><a href="#" class="hover:underline">Explore with Swiggy</a></li>
                <li><a href="#" class="hover:underline">Swiggy News</a></li>
                <li><a href="#" class="hover:underline">Snackables</a></li>
            </ul>
            </div>
        <div>
          <h3 class="font-bold mb-4">Social Links</h3>
          <div class="flex space-x-4">
            <a href="#" class="text-gray-600 hover:text-gray-800 w-20"><img src="assets/images/Linkedin.svg"></a>
            <a href="#" class="text-gray-600 hover:text-gray-800 w-20"><img src="assets/images/instagram.svg"></a>
            <a href="#" class="text-gray-600 hover:text-gray-800 w-10"><img src="assets/images/facebook.svg"></a>
            <a href="#" class="text-gray-600 hover:text-gray-800 w-20"><img src="assets/images/pinterest.svg"></a>
            <a href="#" class="text-gray-600 hover:text-gray-800 w-20"><img src="assets/images/Twitter.svg"></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  
      
      <div class=" flex  gap-12 border-t border-gray-300 pt-6 text-center justify-center">
        <p class="text-2xl mb-4 mt-3 font-bold">For better experience, download the Swiggy app now</p>
        <div class="flex justify-center space-x-4">
          <a href="#" class="inline-block">
            <img src="assets/images/download-appstore.avif" alt="Download on App Store" class="w-52">
          </a>
          <a href="#" class="inline-block">
            <img src="assets/images/download-playstore.avif" alt="Get it on Google Play" class="w-52">
          </a>
        </div>
      </div>
    </div>
  </footer>
  