<div class="min-h-screen ">
    <div class="bg-custom-orange h-24 flex justify-center items-center pt-8"><h1 class="text-5xl   font-bold text-gray-800 mb-6">Checkout</h1></div>
  
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-3xl mx-auto">
      <div *ngIf="cartItems.length > 0; else noItems" class="space-y-4">
        <div *ngFor="let item of cartItems" class="flex justify-between items-center">
          <span class="text-lg text-gray-700">{{ item.itemName }} ({{ item.quantity }})</span>
          <span class="text-lg font-semibold text-gray-800">${{ item.price * item.quantity }}</span>
        </div>
  
        <div class="flex justify-between items-center mt-6">
          <span class="text-xl font-semibold">Total</span>
          <span class="text-xl font-semibold">${{ totalAmount }}</span>
        </div>
  
        <button (click)="checkout()" class="mt-6 px-6 py-3 bg-blue-600 text-white rounded-lg w-full">Checkout</button>
      </div>
  
      <ng-template #noItems>
        <p class="text-center text-gray-500">Your cart is empty</p>
      </ng-template>
    </div>
  </div>
  